name: Dependabot automerge

'on':
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:
  dependabot-automerge:
    uses: leynos/shared-actions/.github/workflows/dependabot-automerge.yml@235d2d07b9a321364a742310873f6732d7228e72
    secrets: inherit
    permissions:
      contents: write
      pull-requests: write
